In [11]:
import pandas as pd
import seaborn as sns

salary_df = pd.read_excel('./salary_data_states.xlsx')
salary_df.head()

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.0,year,62171.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.0,year,91440.0,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.0,year,49470.0,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.0,month,43800.0,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.0,bi-weekly,170000.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5

In [8]:
salary_df.describe()

,PREVAILING_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED,EXPERIENCE_REQUIRED_NUM_MONTHS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,order
count,1.672780e+05,1.672780e+05,4965.000000,167210.000000,1.672780e+05,167278.000000
mean,7.115752e+04,8.164186e+04,34.692044,74274.868236,8.553277e+04,83714.716305
std,3.874624e+04,4.147703e+04,22.317783,25356.245893,3.873847e+04,48300.236431
min,5.050000e+00,5.050000e+00,0.000000,10504.000000,1.050000e+04,1.000000
25%,5.447500e+04,6.100000e+04,12.000000,56880.000000,6.300000e+04,41901.250000
50%,6.970100e+04,7.700000e+04,24.000000,70928.000000,7.860000e+04,83722.500000
75%,8.993700e+04,1.000000e+05,60.000000,90459.000000,1.000060e+05,125541.750000
max,6.217100e+06,2.500000e+06,144.000000,320000.000000,2.500000e+06,167361.000000

In [ ]:
# II. What states (of those I am willing to move to) have the highest paying data-related salaries ?
 
# 2a - Differences between job subcategories ?

# 2b - Which companies have the highest salaries of those sub-types ?

# 2c - Will the answer change if I take the standard of living into account ?

In [ ]:
# III. How do offered salaries compare to the prevailing wage ?

# 3a - Are there job sub-categories that tend to get over- or under- paid ?

# 3b - Are there companies that tend to over- or under- pay ?

# 3c - Will the answer change if I take the standard of living into account ?

## I. Do specific sub-types of data-related jobs have higher or lower salaries than others ?

In [15]:
avg_wage_by_subtype = salary_df.groupby('JOB_TITLE_SUBGROUP')['PAID_WAGE_PER_YEAR'].mean().sort_values(ascending=False)
avg_wage_by_subtype

JOB_TITLE_SUBGROUP
attorney                 146413.596714
management consultant    108251.334662
data scientist           108021.038248
assistant professor       94876.713707
software engineer         92505.303013
business analyst          71300.079566
data analyst              70030.078688
teacher                   46039.985507
Name: PAID_WAGE_PER_YEAR, dtype: float64

### 1a - Which companies have the highest salries for those subtypes ?

In [17]:
highest_paid_companies = salary_df.groupby(['JOB_TITLE_SUBGROUP', 'EMPLOYER_NAME'])['PAID_WAGE_PER_YEAR'].mean().reset_index()
top_companies_per_subgroup = highest_paid_companies.loc[highest_paid_companies.groupby('JOB_TITLE_SUBGROUP')['PAID_WAGE_PER_YEAR'].idxmax()].sort_values(by='PAID_WAGE_PER_YEAR', ascending=False)
top_companies_per_subgroup

,JOB_TITLE_SUBGROUP,EMPLOYER_NAME,PAID_WAGE_PER_YEAR
1805,attorney,HUGHES HUBBARD & REED LLP,2400000.0
7771,business analyst,THE UNIVERSITY OF TEXAS SYSTEM ADMINISTRATION,677508.0
20874,software engineer,"SIGMATEK SYSTEMS, LLC",600000.0
10680,management consultant,"CO-CREATION PARTNERS, INC.",582400.0
23830,teacher,AUTISTIC TREATMENT CENTER A/K/A AUTISM TREATME...,542400.0
285,assistant professor,DIXIE STATE COLLEGE OF UTAH,492250.0
9200,data analyst,INTUIT,433161.5
10411,data scientist,NETFLIX,220000.0

### 1b - Changes with location of the job ?

In [21]:
avg_wage_by_state_subgroup = salary_df.groupby(['WORK_STATE', 'JOB_TITLE_SUBGROUP'])['PAID_WAGE_PER_YEAR'].mean().unstack().fillna(0)
avg_wage_by_state_subgroup['data scientist'].sort_values(ascending=False).head()

WORK_STATE
California    117824.161492
Washington    116132.606905
Minnesota     111457.000000
New York      106332.276119
Oregon        106140.850000
Name: data scientist, dtype: float64

### 1c - Will the answer change if I take the standard of living into account ?

Yes, the answer would change if you were to take the standard of living into account as California is one of the most expensive states to live in compared to Minnesota which is generally a less expensive state to live in.

## II. What states (of those I am willing to move to) have the highest paying data-related salaries ?